{% extends 'base.html' %}
<html>
  <head>
    <title>Fábrica de Roupas| Cadastrar Peças</title>
    <link rel="stylesheet" href="{{url_for('static', filename="css/bootstrap.min.css")}}">
  </head>
  <body>
    {% block content %}
    <div class="jumbotron">
      <div>
        <h2 class="text-muted">Cadastrar Peças</h2>
      </div>
      <div></div>
      <p>
        <form action="" method="POST">
        <textarea name="modelo"  maxlength="100">Descriçao do modelo</textarea><br>
        <textarea name="descricao"  maxlength="100">Descrição da Peça</textarea><br>
        <input type="number" name="mat_cost" placeholder="Matricula da costureira" min="1"/><br>

        <button type="submit"  class="btn btn-primary">Cadastrar</button>
      </form>
    </p>
     {{result}}<br>
    </div>
   
{% endblock %}
