{% extends 'base.html' %}
<html>
  <head>
    <title>Fábrica de Roupas</title>
    <link rel="stylesheet" href="{{url_for('static', filename="css/bootstrap.min.css")}}">
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
  </head>
  <body>
  {% block content %}
    <div class="jumbotron">
      <div>
        <h3 class="text-muted">Fundamentos de Banco de Dados</h3>
      </div>
      <img src="../static/images/logotipo.png" width="250" height="250">
      <h1 class="display-4">Fabrica de Roupas</h1>
      <p class="lead">Você bem vestido</p>
      <hr class="my-1">
      <p>
        <div class="btn-group">
          <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastrar</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="cadastrarfuncionarios">Funcionários</a>
            <a class="dropdown-item" href="cadastrar/maquinas">Máquinas</a>
            <a class="dropdown-item" href="cadastrar/pecas">Peças</a>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary btn-lg dropdown-toggle" role="button" id="dropdownMenuButton2"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Consultar</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <a class="dropdown-item" href="exibir/funcionarios">Funcionários</a>
            <a class="dropdown-item" href="exibir/costureiras" role="button">Costureira</a>
            <a class="dropdown-item" href="exibir/supervisoras">Supervisora</a>
            <a class="dropdown-item" href="exibir/funcionarios">Funcionario</a>
            <a class="dropdown-item" href="exibir/pecas">Peças</a>
            <a class="dropdown-item" href="exibir/producao">Produção</a>
            <a class="dropdown-item" href="exibir/maquinas">Máquinas</a>
            <a class="dropdown-item" href="exibir/habilitacao">Habilitação</a>
            <a class="dropdown-item" href="exibir/manutencao">Manutenção</a>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton3"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Alterar</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
            <a class="dropdown-item" href="atualizar/funcionarios">Funcionários</a>
            <a class="dropdown-item" href="atualizar/maquinas">Máquinas</a>
            <a class="dropdown-item" href="atualizar/pecas">Peças</a>
          </div>
        </div>
        <div class="btn-group">
          <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton4"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Deletar</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
            <a class="dropdown-item" href="destruir/funcionarios">Funcionários</a>
            <a class="dropdown-item" href="destruir/maquinas">Máquinas</a>
            <a class="dropdown-item" href="destruir/pecas">Peças</a>
          </div>
        </div>
      </p>
    </div>
{% endblock %}
